@tailwind base;

/* Write your own custom base styles here */
body {
	background: #212121;
}

button:disabled {
	@apply opacity-50 cursor-not-allowed;
}

.h-350 {
	height: 350px;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
	@apply bg-teal-500 text-white font-bold py-2 px-4 rounded;
}

.bg-dark {
	background: #212121;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
